
<!--Notebook Configuration-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true,
          displayMath: [['$$','$$'], ["\\[","\\]"]]
      }
  });
</script>

<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
  jQuery(document).ready(function($) {
      $("div.collapseheader").click(function () {
      $header = $(this).children("span").first();
      $codearea = $(this).children(".input_area");
      console.log($(this).children());
      $codearea.slideToggle(500, function () {
          $header.text(function () {
              return $codearea.is(":visible") ? "Collapse Code" : "Expand Code";
          });
      });
  });
  });
</script>

