<div class="sidebar">
    <div class="container">
        <div >
            <h1 class="sidebar-title">
                <a href="/">
                    <!---<img class="profile-picture" src="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}"> --->
                    <!---{{ SITENAME }}--->
                    {{SITENAME|join("<br>")}}
                    
                </a>
            </h1>
        </div>
      <!---Add Pages for Static Content --->
      {% for p in pages %}
        <div>
            <h1 class = "sidebar-page">
              <a href="{{ SITEURL }}/{{ p.url }}">
              {{ p.title }}
              </a>
            </h1>
        </div>
      {% endfor %}
    <div>
    <nav class="sidebar-nav">
        {% for name, link in SOCIAL %}
            {% if name == 'email' %}
                <a class="sidebar-nav-item" href="mailto:{{ link }}">
                    <i class="fa fa-envelope"></i>
                </a>
            {% else %}
                <a class="sidebar-nav-item" href="{{ link }}">
                    <i class="fa fa-{{ name }}"></i>
                </a>
            {% endif %}
        {% endfor %}

    </nav>
    </div>
    </div>
</div>
