<div class="footer">
    <div class="wrapper footer-wrapper">
        <div class="footer-left">
            <div class="footer-logo">
                <a href="{{ SITEURL }}">
                    <img src="{{ SITEURL }}/images/logo/logo.png"/>
                </a>
            </div>
            <div class="footer-mailer">
                <!-- Mailerlite -->
                {% include "fragments/mailerlite.html" %}
            </div>
        </div>
        <div class="footer-social footer-right">
            <div class="social">
                {% for name, link in SOCIAL %}
                    {% if name == 'email' %}
                    <a href="mailto:{{ link }}">
                        <i class="fa fa-envelope"></i>
                    </a>
                    {% else %}
                    <a href="{{ link }}">
                        <i class="fa fa-{{ name }}"></i>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
