<div class="footer">
    <div class="wrapper footer-wrapper">
        <div class="footer-left">
            <ul>
                {% for name, link in SOCIAL %}
                <li>
                    {% if name == 'email' %}
                    <a href="mailto:{{ link }}">
                        <i class="fa fa-envelope"></i>
                    </a>
                    {% else %}
                    <a href="{{ link }}">
                        <i class="fa fa-{{ name }}"></i>
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer-right">
            <a href="{{ SITEURL }}">{{ AUTHOR }}</a>
        </div>
    </div>
</div>
