@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif, -apple-system;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #12221d;
    text-align: left;
    background-color: #ffffff;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif, -apple-system;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

h1 {
    font-weight: 700;
    font-size: 1.2rem;
}

h2 {
    font-weight: 600;
    font-size: 1.1rem;
}

h3 {
    font-weight: 500;
    font-size: 0.9rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
}

a {
    color: #56bb92;
    text-decoration: none;
}
a:hover {
    color: #56bb92;
    text-decoration: underline;
}

::selection {
    background-color: #56bb92;
    color: #ffffff;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
    /* display + margin allows images (in markdown) to be centered */
    display: block;
    margin: 1rem auto 0.2rem;
}
/* <em> right after <img> is a subtitle for an image */
img + em {
    font-size: 0.8rem;
    text-align: center;
    display: block;
}

button { 
    background-color: #00524b;
    color: #ffffff;
    border: none;
    border-radius: .2rem;
    padding: .4rem;
}

/* ---------- STRUCTURE ---------- */

.page {
    position: relative;
    min-height: 100vh;
}

/* .wrapper goes in nav, content, and footer */
.wrapper {
    max-width: 1200px;
    padding-left: 85px;
    padding-right: 85px;
    margin: 0 auto;
}

/* ---------- CONTENT ---------- */

.body-wrapper {
    min-height: calc(100vh - 25px);
}

.content {
    padding: 20px 0 40px;
    width: 100%;
}

.page-title {
    font-size: 2rem;
    color: #00524b;
}

.post-date {
    font-weight: 600;
    color: #bebebe;
}

/* ---------- NAV ---------- */

.header a {
    color: #00524b;
}
.header a:hover {
    color: #56bb92;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}

.lock-scroll {
    position: static;
    overflow: hidden;
}

.logo {
    display: none;
}
.logo-mobile {
    display: block;
    width: 54px;
}
@media (min-width: 576px) {
    .logo {
        display: block;
        width: 70px;
    }
    .logo-mobile {
        display: none;
    }
}

.logo a, .logo a img,
.logo-mobile a, .logo-mobile a img {
    display: block;
    width: 100%;
    height: 100%;
}

.button {
    white-space: nowrap;
    display: inline-block;
    padding: 8px 15px 6px 15px;
    background: #56bb92;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 3px;
}
.button:hover {
    color: #ffffff;
    background-color: #4beec5;
    text-decoration: none;
}

.button-white {
    background: none;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.main-menu {
    display: none;
}
@media (min-width: 768px) {
    .main-menu {
        display: block;
    }
    #toggle-main-menu-mobile {
        display: none;
    }
}

.main-menu ul li {
    list-style: none;
    padding: 10px 14px 10px 14px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

.main-menu-mobile {
    position: fixed;
    background: linear-gradient(#78cad4, #56bb92, #00524b, #12221d);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-menu-mobile.open {
    visibility: visible;
    opacity: 1;
    height: 100%;
    z-index: 20;
}
.main-menu-mobile.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
}
.main-menu-mobile.open li:nth-of-type(2) {
    animation-delay: 0.4s;
}
.main-menu-mobile.open li:nth-of-type(3) {
    animation-delay: 0.45s;
}
.main-menu-mobile.open li:nth-of-type(4) {
    animation-delay: 0.5s;
}
.main-menu-mobile.open li:nth-of-type(5) {
    animation-delay: 0.55s;
}
.main-menu-mobile.open li:nth-of-type(6) {
    animation-delay: 0.6s;
}
.main-menu-mobile ul {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif, -apple-system;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 0;
}
.main-menu-mobile ul li {
    display: block;
    position: relative;
    opacity: 0;
}
.main-menu-mobile ul li a {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif, -apple-system;
    margin-bottom: 1rem;
    display: block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
}
.main-menu-mobile ul li a:hover::after,
.main-menu-mobile ul li a:focus::after,
.main-menu-mobile ul li a:active::after {
    width: 100%;
}
.main-menu-mobile ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #ffffff;
    transition: 0.35s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.hamburger {
    padding: 10px 0 10px 10px;
    outline: none;
    z-index: 30;
    cursor: pointer;
}
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
}
.hamburger:focus {
    outline: none;
}
.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
    background: #56bb92;
}
.hamburger .hamburger-inner::after {
    width: 18px;
    right: 0;
}
.hamburger.is-active .hamburger-inner::after {
    width: inherit;
    right: unset;
}

/* ---------- FOOTER ---------- */

.footer {
    background: linear-gradient(to right, #8cccb2, #fff); /* #f4f5fb */
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li,
.footer a {
    display: inline-block;
    color: #333;
    font-size: 0.9rem;
    line-height: 1.8;
    font-weight: bold;
}
.footer-left a {
    margin-right: 10px;
}

.footer-left {
    display: flex;
    flex-direction: row;
}

/* ---------- BLOG ---------- */

.categories-menu {
    background-color: #f4f5fb;
    border-radius: 0.6rem;
    padding: 0.2rem 1rem 0.4rem;
    margin: 0.6rem 0 0.4rem;
}

ul.categories {
    padding: 0;
}
.categories li {
    display: inline;
    list-style: none;
    padding-right: 2rem;
}
.categories-menu h4 {
    color: #666666;
}
.categories li a {
    color: #999999;
}
.categories li a.active {
    color: #56bb92;
}

.blog-table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

.blog-table td {
    vertical-align: bottom;
    padding-top: 0.2rem;
}
.blog-table tr:not(:first-child):hover{
    background-color: #f4f5fb;
}

.blog-table-right {
    text-align: right;
    display: none;
    max-width: 120px;
}
.blog-table-mobile-container {
    display: flex;
    flex-direction: row;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

.blog-table-date {
    font-size: 0.9rem;
}
.blog-table-mobile-date {
    font-size: 0.7rem;
}
@media (min-width: 992px) {
    .blog-table-right {
        text-align: right;
        display: table-cell;
    }
    .blog-table-mobile-container,
    .blog-table-mobile-date {
        display: none;
    }
}
.blog-table-tag {
    background-color: #f4f5fb;
	height: 1rem;
	border-radius: 0.2rem;
    font-size: 0.7rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    text-align: center;
    margin-left: 0.2rem;
}

.blog-table-tag:hover {
    background-color: #ced3d1;
}

.blog-table-tag a {
    color: #12221d;
    text-decoration: none;
}

/* ---------- HAMBURGER ---------- */


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff;
}

.hamburger-box {
    width: 32px;
    height: 19px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1.5px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 32px;
    height: 3px;
    background-color: #56bb92;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -8px;
}
.hamburger-inner::after {
    bottom: -8px;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
    top: 1.5px;
}
.hamburger--slider .hamburger-inner::before {
    top: 8px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
    top: 16px;
}

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-4.57142857px, -5px, 0);
    opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -16px, 0) rotate(-90deg);
}

/* ---------- JUPYTER NOTEBOOK OVERRIDES ---------- */

.anchor-link {
    display: none;
}

.prompt {
    min-width: 11ex;
    padding: 0.4rem;
    margin: 0px;
    font-family: monospace;
    text-align: right;
    line-height: 1.2rem;
}

.input_prompt {
    color: #303F9F;
}
.inner_cell {
    flex: 1;
    min-width: 0;
    -webkit-box-orient: vertical;
}

.input_area {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #f7f7f7;
    line-height: 1.21429em;
    padding-right: 0.5rem;
}

.output_prompt {
    color: #D84315;
}

pre, .code-line {
    overflow: auto;
    white-space: pre;
}

.input, .output_area, .output_subarea {
    display: flex;
    overflow-x: auto;
    padding: 0.4rem;
    flex: 1;
}